
# SDK: @scrypted/sdk

```ecmascript
const sdk = require('@scrypted/sdk');
```
> or

```ecmascript
import sdk from '@scrypted/sdk';
```

The Scrypted SDK can be installed off npm.

`npm install @scrypted/sdk --save`

> Definition

```ecmascript
<%= partial "includes/scrypted/generated/sdk.erb" %>
```

## sdk.log

> Example

```ecmascript
const { log } = sdk;
log.i('Hello world.');
log.a('log.a will show up in the notification area!');
```

The [log](#logger) property writes logs and notification alerts which can be viewed in the web magement console.

## sdk.systemManager

[SystemManager](#systemmanager) is used by scripts to query device state and access devices.

## sdk.deviceManager

[DeviceManager](#devicemanager) fascilitates querying, control, and creation of devices. It also and sending events from existing devices.

<aside class="notice">
More information can be found in the <a href='#device-reference'>Device Reference</a>
</aside>

## sdk.mediaManager

The [media](#mediamanager) property manages creation and conversion of media types.

<aside class="notice">
More information can be found in the <a href='#media-reference'>Media Reference</a>
</aside>
