---
title: Scrypted API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript
  - typescript

search: true
---
# Getting Started <br/>

<%= partial "includes/GettingStarted.md.erb" %>

# Reference

{% for name, c in classes %}
## {{name}}

<%= partial "includes/scrypted/{{name}}.md.erb" %>

{% if c.methods.length %}
> Definition

```javascript
interface {{ name }} {% if c.superclass.length %}implements {{ mapSupers(c.superclass) }}{% endif %} {
{% for method in c.methods %}  {{ method.name }}({{ mapMethodArguments(method.arguments) | join(', ') }}): {{ mapType(method.type) }};
{% endfor %}}
```
{% endif %}

{%- if c.values.length %}
```javascript
enum {{ name }} {
{%- for value in c.values %}
  {{ value }} = "{{ value }}",
{%- endfor %}
}
```
{% endif %}

{% if c.fields.length %}
> Definition

```javascript
interface {{ name }} {
{% for field in c.fields %}  {{ field.name }}: {{ mapType(field.type) }};
{% endfor %}}
```
{% endif %}

{% if c.description %}
<aside class="notice">
{{ c.description }}
</aside>
{% endif %}

{% if c.methods.length %}
{% if true %}
{% for method in c.methods %}
### {{ method.name }}
{{ linkifyType(method.type) }} {{ method.name }}({{ methodArguments(method.arguments) | join(', ') }})

{{ method.description }}
{% endfor %}
{% endif %}
{% endif %}

{% if c.fields.length %}
### Properties
Name      | Type
--------- | ----
{% for property in c.fields %}{{ property.name }} | {{ linkifyType(property.type) }}
{% endfor %}
{% endif %}

{% if c.values.length %}
Enum |
----
{% for value in c.values %}"{{ value }}" |
{% endfor %}
{% endif %}

{% endfor %}
