---
title: Scrypted API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - typescript
  - javascript

search: true
---
<%= partial "includes/GettingStarted.md.erb" %>

<%= partial "includes/Concepts.md.erb" %>

<%= partial "includes/SDK.md.erb" %>

{% for referenceSection, classes in data %}

# {{ referenceSection }}

{% for name, c in classes %}
## {{name}}

{% if c.methods.length or c.fields.length %}
> Definition

```ecmascript
interface {{ name }} {% if c.superclass.length %}implements {{ mapSupers(c.superclass) }}{% endif %} {
{% for field in c.fields %}  {{ field.name }}: {{ mapType(field) }};
{% endfor -%}{% if c.methods.length and c.fields.length %}
{% endif -%}
{% for method in c.methods %}  {{ method.name }}({{ mapMethodArguments(method.arguments) | join(', ') }}): {{ mapType(method) }};
{% endfor -%}
}
```
{% endif %}

{%- if c.values.length %}
```ecmascript
enum {{ name }} {
{%- for value in c.values %}
  {{ value }} = "{{ value }}",
{%- endfor %}
}
```
{% endif %}

<%= partial "includes/scrypted/{{name}}.md.erb" %>

{% if c.used_by or c.description %}
<aside class="notice">
{% if c.used_by %}
Used by {{ linkifyType({type: c.used_by}) }}.
{% endif %}
{% if c.description %}
{{ c.description }}
{% endif %}
</aside>
{% endif %}

{% if c.fields.length %}
### Properties
Name      | Type
--------- | ----
{% for property in c.fields %}{{ property.name }} | {{ linkifyType(property) }}
{% endfor %}
{% endif %}

{% if c.methods.length %}
{% if true %}
{% for method in c.methods %}
### {{ method.name }}
{{ linkifyType(method) }} {{ method.name }}({{ methodArguments(method.arguments) | join(', ') }})

{{ method.description }}
{% endfor %}
{% endif %}
{% endif %}

{% if c.values.length %}
Enum |
----
{% for value in c.values %}"{{ value }}" |
{% endfor %}
{% endif %}

{% endfor %}

{% endfor %}