
const types = {
}

module.exports = types;
module.exports.default = types;


{%- for name, c in classes -%}
{%- if c.values.length %}
module.exports.{{ name }} = {
{%- for value in c.values %}
  {{ value }}: "{{ value }}",
{%- endfor %}
}
{%- endif %}
{%- endfor %}

module.exports.ScryptedInterface = {
  {%- for name, c in classes -%}
  {%- if c.implementable %}
  {{ name }}: "{{ name }}",
  {%- endif %}
  {%- endfor %}
}

module.exports.ScryptedInterfaceDescriptors = {
  {%- for name, c in classes -%}
  {%- if c.implementable %}
  {{ name }}: {
      name: "{{ name }}",
      properties: [
        {%- for f in c.fields %}
        "{{ f.name }}",
        {%- endfor %}
      ],
      methods: [
        {%- for m in c.methods %}
        "{{ m.name }}",
        {%- endfor %}
      ]
  },
  {%- endif %}
  {%- endfor %}
}

module.exports.ScryptedInterfaceProperty = {
  {%- for name, c in classes -%}
  {%- if c.implementable %}
    {%- for f in c.fields %}
    {{ f.name }}: "{{ f.name }}",
    {%- endfor %}
  {%- endif %}
  {%- endfor %}
}

module.exports.ScryptedMimeTypes = {
  AcceptUrlParameter: 'accept-url',
  Url: 'text/x-uri',
  InsecureLocalUrl: 'text/x-insecure-local-uri',
  LocalUrl: 'text/x-local-uri',
  FFmpegInput: 'x-scrypted/x-ffmpeg-input',
  RTCAVOffer: 'x-scrypted/x-rtc-av-offer',
  RTCAVAnswer: 'x-scrypted/x-rtc-av-answer',
}
